{% extends "base.html" %}

{% block content %}
    <script>
    function speedUpdate(speed) {
        document.querySelector('#selected-speed').value = speed;
    }

    function sizeUpdate(size) {
        document.querySelector('#selected-size').value = size / 10;
    }

    function stepsUpdate(steps) {
        document.querySelector('#selected-steps').value = parseInt(steps) + 1;
    }
    </script>
    <style type="text/css">
        .tg .tg-5rj3{background-color:#0000ff;color:#ffffff;font-weight:bold;}
        .tg .tg-j7ib{background-color:#00ffff;font-weight:bold;}
        .tg .tg-8w33{background-color:#008080;color:#ffffff;font-weight:bold;}
        .tg .tg-sfim{background-color:#ff69b4;font-weight:bold;}
        .tg .tg-er9f{background-color:#00ff00;font-weight:bold;}
        .tg .tg-cxf6{background-color:#8b4513;color:#ffffff;font-weight:bold;}
        .tg .tg-ktpr{background-color:#808000;color:#ffffff;font-weight:bold;}
        .tg .tg-s05f{background-color:#ff00ff;font-weight:bold;}
        .tg .tg-eezr{background-color:#000080;color:#ffffff;font-weight:bold;}
        .tg .tg-6y75{background-color:#000000;color:#ffffff;font-weight:bold;}
        .tg .tg-0lax{}
        .tg .tg-sc5t{background-color:#800080;color:#ffffff;font-weight:bold;}
        .tg .tg-v04h{background-color:#ff0000;color:#ffffff;font-weight:bold;}
        .tg .tg-dpcp{background-color:#800000;color:#ffffff;font-weight:bold;}
        .tg .tg-mbch{background-color:#ffa500;font-weight:bold;}
        .tg .tg-ch3t{background-color:#008000;color:#ffffff;font-weight:bold;}
        .tg .tg-1n3x{background-color:#ffff00;font-weight:bold;}
    </style>

    <div style="display: flex;">
        <div style="width: 500; margin-left: 15px;">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p></p>
                <div class="form-control">
                    <p class="form-label">Set color amounts:<br></p>
                <table class="tg table table-borderless table-sm">
                    <colgroup>
                        <col style="width: 80px">
                        <col style="width: 80px">
                        <col style="width: 80px">
                        <col style="width: 80px">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="tg-6y75">Black</td>
                        <td class="tg-0lax">{{ form.color.black(class_='form-control') }}</td>
                        <td class="tg-cxf6">Brown</td>
                        <td class="tg-0lax">{{ form.color.brown(size=5, class_='form-control') }}</td>
                    <tr>
                        <td class="tg-sc5t">Purple</td>
                        <td class="tg-0lax">{{ form.color.purple(size=5, class_='form-control') }}</td>
                        <td class="tg-s05f">Magenta</td>
                        <td class="tg-0lax">{{ form.color.magenta(size=5, class_='form-control') }}</td>
                    </tr>
                    <tr>
                        <td class="tg-v04h">Red</td>
                        <td class="tg-0lax">{{ form.color.red(size=5, class_='form-control') }}</td>
                        <td class="tg-sfim">Pink</td>
                        <td class="tg-0lax">{{ form.color.pink(size=5, class_='form-control') }}</td>
                    </tr>
                    <tr>
                        <td class="tg-dpcp">Maroon</td>
                        <td class="tg-0lax">{{ form.color.maroon(size=5, class_='form-control') }}</td>
                        <td class="tg-mbch">Orange</td>
                        <td class="tg-0lax">{{ form.color.orange(size=5, class_='form-control') }}</td>
                    </tr>
                    <tr>
                        <td class="tg-ktpr">Olive</td>
                        <td class="tg-0lax">{{ form.color.olive(size=5, class_='form-control') }}</td>
                        <td class="tg-1n3x">Yellow</td>
                        <td class="tg-0lax">{{ form.color.yellow(size=5, class_='form-control') }}</td>
                    </tr>
                    <tr>
                        <td class="tg-ch3t">Green</td>
                        <td class="tg-0lax">{{ form.color.green(size=5, class_='form-control') }}</td>
                        <td class="tg-er9f">Lime</td>
                        <td class="tg-0lax">{{ form.color.lime(size=5, class_='form-control') }}</td>
                    </tr>
                    <tr>
                        <td class="tg-eezr">Navy</td>
                        <td class="tg-0lax">{{ form.color.navy(size=5, class_='form-control') }}</td>
                        <td class="tg-5rj3">Blue</td>
                        <td class="tg-0lax">{{ form.color.blue(size=5, class_='form-control') }}</td>
                    </tr>
                    </tbody>
                </table>
                    <p class="fst-italic fw-light" style="float: right;">
                        i: Select color amounts for rat pawprints from 0 to 255.
                    </p>
                    <br>
                </div>
                <p></p>

                <p class="form-control">
                    {{ form.speed.label(class_='form-label') }}<br>
                    {{ form.speed(oninput="speedUpdate(value)", class_='form-range') }}<br>
                    <output for="speed" id="selected-speed">{{ form.speed.data }}</output><br>
                    <span class="fst-italic fw-light" style="float: right;">i: Choose how often does rat change direction.</span><br>
                </p>

                <p class="form-control">
                    {{ form.size.label(class_='form-label') }}<br>
                    {{ form.size(oninput="sizeUpdate(value)", class_='form-range') }}<br>
                    <output for="size" id="selected-size">{{ form.size.data / 10 }}</output><br>
                    <span class="fst-italic fw-light" style="float: right;">i: Choose how big your rat is.</span><br>
                </p>

                <p class="form-control">
                    {{ form.steps.label(class_='form-label') }}<br>
                    {{ form.steps(oninput="stepsUpdate(value)", class_='form-range') }}<br>
                    <output for="steps" id="selected-steps">{{ form.steps.data + 1 }}</output><br>
                    <span class="fst-italic fw-light" style="float: right;">i: Choose how many steps will the rat do.</span><br>
                </p>

                {% for field, errors in form.errors.items() %}
                <div class="text-danger">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </div>
                {% endfor %}

                {% if no_color %}
                    <div class="text-danger">
                        <p>No colors were selected, rat art won't be generated.</p>
                    </div>
                {% endif %}

                <div class="d-grid gap-2 d-md-block">
                    <button id="reset_canvas" class="btn btn-danger" onclick="resetCanvas">Reset canvas</button>
                    {{ form.submit(class_='btn btn-primary') }}
                </div>

                <div class="text-secondary">
                {% if steps > 0 %}
                    <p id="steps_counter" title="{{ steps }}">{{ steps }} remaining! Please wait...</p>
                {% else %}
                    <p id="steps_counter" title="0"></p>
                {% endif %}
                </div>
            </form>
        </div>

        <div style="flex-grow: 1; margin-left: 30px;">
            <img src="{{ 'static\clean.png' if not image_name else image_name }}" id="ratartisimo" style="width: 100%; float: left;">
        </div>

    </div>
    <script>
        var csrftoken = $('meta[name=csrf-token]').attr('content')

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

        document.getElementById("reset_canvas").addEventListener("click", function(event) {
            console.log(42);
            event.preventDefault();
            document.getElementById("steps_counter").title = "0";
            $.ajax({
                  type: "POST",
                  url: "/",
                  data: JSON.stringify({"reset": "1"}),
                  contentType: "application/json;charset=utf-8",
                  dataType: 'json',
                  success: function(result) {
                    document.getElementById("ratartisimo").src = result.image;
                    document.getElementById("steps_counter").innerText = "";
                    document.getElementById("submit").disabled = false;
                    document.getElementById("reset_canvas").disabled = false;
                  }
            });
        });

        document.getElementById("ratartisimo").addEventListener("load", makeStep);
        function makeStep() {
            var steps = document.getElementById("steps_counter").title;
            console.log(steps);
            if (steps != "0") {
                $.ajax({
                  type: "POST",
                  url: "/",
                  data: JSON.stringify({"steps": steps}),
                  contentType: "application/json;charset=utf-8",
                  dataType: 'json',
                  success: function(result) {
                    document.getElementById("ratartisimo").src = result.image;
                    document.getElementById("steps_counter").title = result.steps;
                    if (result.steps != "0") {
                        document.getElementById("steps_counter").innerText = result.steps + " remaining! Please wait...";
                        document.getElementById("submit").disabled = true;
                        document.getElementById("reset_canvas").disabled = true;
                    }
                    else {
                        document.getElementById("steps_counter").innerText = "";
                        document.getElementById("submit").disabled = false;
                        document.getElementById("reset_canvas").disabled = false;
                    }
                  }
                });
            }
        }

    </script>

{% endblock %}